@model Exemplo02.ViewModels.GrupoViewModel
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@MeuHelper.Message(Model.Mensagem, "alert alert-success")
@using (Ajax.BeginForm("Buscar", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "tabela", InsertionMode = InsertionMode.Replace }, new { @class = "form-inline", id = "formularioBusca" }))
{
    @Html.TextBox("nomeBusca", "", new { @class = "form-control", placeholder = "Fitrar pelo nome" })
}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Nome Grupo</td>
            <td>Nota Grupo</td>
            <td>Nome Projeto</td>
            <td>Descriçao Projeto</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="tabela">
        @Html.Partial("_tabela", Model.Grupos)
    </tbody>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Realmente dezeja apagar o grupo?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Grupo"))
                {
                    <input type="hidden" id="grupoId" name="grupoId" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary">Sim</button>

                }

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function someBotao() {
            $("td > button , td > a").css("visibility", "hidden");

            $("tr").hover(function () {
                $(this).find("button,a").css("visibility", "visible");
            }, function () {
                $(this).find("button,a").css("visibility", "hidden");
            });

        }
        $().ready(function () {
            someBotao();

            $("#nomeBusca").change(function () {
              $("#formularioBusca").submit();
            });
        });
    </script>
}
